* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.container{
    width:1330px;
    margin:0 auto;
}
/* Style the header */
header{
  color: white;
  background-color: #666;
  width:100%;
  height:200px;
}
.cttopnav{
  color:white;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color:#aaa;
  text-align:right;
}
.cttops{
  margin: 0;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-left:30px;
  padding-right:30px;
  line-height:50px;
}
.cttops:hover{
  background-color: lightslategray;
}
.hdmain{
  background-color: #666;
  width:100%;
  height:400px;
}
.hdmain>h2{
  font-size: 50px;
  text-align: center;
}

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Create two columns/boxes that floats next to each other */
nav {
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  font-size: 20px;
  padding: 20px;
}

nav ul li a{
  color: #666;
  font-weight: bold;
  padding: 10px;
  background: #fff;
  border-radius: 16px;
  padding: 10px 40px;
}

nav ul li:hover a{
  color: #fff;
  background: #666;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

article h1{
  font-size: 20px;
  padding: 10px;
  background: #ccc;
  border-radius: 16px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #f7d7d7;
  padding: 10px;
  text-align: center;
  color: rgb(17, 17, 17);
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}